<!DOCTYPE html>
<main class="orderCL-wrap">
  <div class="Get-Started">
    <div class="OrderTitle">
      <h1> How it works</h1>
    </div>

    <div class="step">
        <img class="one" src="http://images.clipartpanda.com/number-one-clipart-847-blue-number-one-clip-art.png" alt="Step 1">
    </div>

    <div class="step">
      <img class="two" src="https://deniselefay.files.wordpress.com/2011/01/blue-2.png" alt="Step two">
    </div>

    <div class="step">
      <img class="three" src="http://www.clipartkid.com/images/105/number-3-violet-clip-art-at-clker-com-vector-clip-art-online-XYqUdJ-clipart.png" alt="Step 3">
    </div>
  </div>
</main>
