<!DOCTYPE html>
<main class="orderCL-wrap">
  <div class="get-started">
    <div class="OrderTitle">
      <h1> How it works</h1>
    </div>

    <div class="steps">
      <div class="step">
          <img class="one" src="http://images.clipartpanda.com/number-one-clipart-847-blue-number-one-clip-art.png" alt="Step 1">
          <h3>add address</h3>
      </div>

      <div class="step">
        <img class="two" src="https://deniselefay.files.wordpress.com/2011/01/blue-2.png" alt="Step two">
        <h3>add precription</h3>
      </div>

      <div class="step">
        <img class="three" src="http://www.clipartkid.com/images/105/number-3-violet-clip-art-at-clker-com-vector-clip-art-online-XYqUdJ-clipart.png" alt="Step 3">
        <h3>add to cart</h3>
      </div>

    </div>
    <button ui-sref="login" type="button" name="button">Get Started</button>
  </div>
</main>
<ui-view>
</ui-view>
