<!DOCTYPE html>
<div class="test displayFlexCC">

    <h3>Find your brand</h3>
    <br>

    <h3></h3>
    <div class="cl-brand-box">
        <div >
            <ng-form class="form-address" id="prescription" name="brandForm">

                <!-- Search by Brand Field -->
                <div class="flex-container c-1column" id="locationField">
                    <label>Enter Brand or key word to find your brand.</label>
                    <input class="flex-item" id="autocomplete" placeholder="Acuvue..." type="text" ng-model="contactSearch" />
                </div>


                <div class="product-container c-1column" ng-repeat = "product in products | filter:contactSearch">
                    <div class="product-flex">
                      <div class="product-img">
                        <img ng-src="{{product.imglink}}" alt="{{product.name}}">
                      </div>

                      <div class="product-info">
                        <h5>{{product.productname}}</h5>
                        <h6>{{product.productnamesubtxt}}</h6>
                        <h6>price {{product.regularprice | currency}}</h6>
                      </div>
                      <div class="product-stock">
                        <h6>{{product.availability}}</h6>
                        <div class="checkout-button">
                          <button type="button" name="button"><img src="http://www.nopcommerce.com/images/thumbs/0003726_400.png" alt="Add to Cart"></button>
                        </div>
                      </div>
                    </div>
                    <button ng-click="detailsToggle = !detailsToggle" type="button" name="button"> Details </button>
                    <div class="product-more-info" ng-hide="detailsToggle">
                      <div class="product-discription">
                        <h6>Description</h6>
                        <p>{{product.description}}</p>
                      </div>
                      <div class="product-discription">
                        <h6>Product Information</h6>
                        <p>manufacturer : {{product.manufacturer}}</p>
                        <p>Lens Type : {{product.lenstype}}</p>
                        <p>Material : {{product.materialandcontent}}</p>
                        <p>Water Content : {{product.watercontent}}</p>
                        <p>Packaging : {{product.packagedetails}}</p>

                      </div>
                    </div>
                </div>


                <!-- input feilds if we want customer to input RX info.  -->
                <!-- label -->
                <!-- <div class="flex-container">
          <label class="flex-item c-2column">Right Eye</label>
          <label class="flex-item c-2column">Left Eye</label>
        </div> -->
                <!-- Power -->
                <!-- <div class="flex-container">
          <div class="flex-item c-2column"><input id="right-Power" placeholder="Power" /></div>
          <div class="flex-item c-2column"><input id="left-Power" placeholder="Power"/></div>
        </div> -->
                <!-- BC -->
                <!-- <div class="flex-container">
          <div class="flex-item c-2column"><input id="right-BC" placeholder="BC" /></div>
          <div class="flex-item c-2column"><input id="left-BC" placeholder="BC"/></div>
        </div> -->
                <!-- DIA -->
                <!-- <div class="flex-container">
          <div class="flex-item c-2column"><input id="right-DIA" placeholder="DIA" /></div>
          <div class="flex-item c-2column"><input id="left-DIA" placeholder="DIA"/></div>
        </div> -->
                <!-- CYL -->
                <!-- <div class="flex-container">
          <div class="flex-item c-2column"><input id="right-CYL" placeholder="CYL" /></div>
          <div class="flex-item c-2column"><input id="left-CYL" placeholder="CYL"/></div>
        </div> -->
                <!-- Axis -->
                <!-- <div class="flex-container">
          <div class="flex-item c-2column"><input id="right-Axis" placeholder="Axis" /></div>
          <div class="flex-item c-2column"><input id="left-Axis" placeholder="Axis"/></div>
        </div> -->


                <button type="button" name="button" ng-click="getProducts()">test</button>

            </ng-form>
        </div>
    </div>


    <button ui-sref="orderCL.selectECP" type="button" name="button">Get Started</button>
</div>
