@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html{
  font-size: 10px;
}

h1,h2,h3,h4,h5,h6,p{

  font-family: 'Lato', sans-serif;
  color: rgba(0,0,0,0.8);
}
h1{
  font-size: 3.3rem;
}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 2rem;
}
h5{
  font-size: 1.6rem;
}
h6{
  font-size: 1.2rem;
}

.landing-wrap, .main-wrap, .orderCL-wrap, .test{
  background: linear-gradient(to bottom,#45c7fa 0,#1976d2 100%);
  padding-top: 25px;
  width: 100vw;
  min-height: 88vh;

}
.displayFlexCC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
